name: CodeCov

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]

permissions:
  contents: read

jobs:
  codecov:
    name: Build
    runs-on: ubuntu-latest
    env:
      BUILD_DIR: build_codecov
      GCC_VERSION: 13

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: "True"

      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y cmake "g++-$GCC_VERSION" lcov ninja-build

      - name: Configure Build
        run: |
          mkdir "$BUILD_DIR"
          cmake                                      \
            -G Ninja                                 \
            -S .                                     \
            -B "$BUILD_DIR"                          \
            -D MIDI2_COVERAGE=Yes                    \
            -D MIDI2_DEMO=Yes                        \
            -D CMAKE_C_COMPILER="gcc-$GCC_VERSION"   \
            -D CMAKE_CXX_COMPILER="g++-$GCC_VERSION"

      - name: Build
        run: cmake --build "$BUILD_DIR"

      - name: Run the Test Binaries
        run: |
          ctest                      \
            --test-dir "$BUILD_DIR"  \
            --output-junit junit.xml \
            --verbose

      - name: Run the executables
        run: find "${BUILD_DIR}" -type f -name demo_\* -executable -print -exec {} \;

      - name: Collect the Coverage
        run: |
          set -x
          lcov                              \
            --capture                       \
            --output-file coverage.info     \
            --directory "$BUILD_DIR"        \
            --gcov-tool "gcov-$GCC_VERSION" \
            --ignore-errors mismatch

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@0fa95f0e1eeaafde2c782583b36b28ad0d8c77d3 #v1.2.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
